#my_map{

    height: 400px;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: map; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu map map map map map';
  gap: 5 px;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}
